.App {
  text-align: center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; 
  background-color: chartreuse;
}
.content {
  width: 100%;
  padding: 20px;
  }
  /* .leftframe{
    background-color: rebeccapurple;
    margin-left: 50px;
  } */